# 1. Fill out USERNAME and PASSWORD with your own credentials to access the database

# 2. Run npx prisma migrate dev

DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/voyouger_db?schema=public"