# 1. Duplicate this example for your own .env file

# 2. Change AWS_ACCES_KEY_ID and AWS_SECRET_ACCESS_KEY to your own values

PORT=8080
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
DYNAMODB_TABLE_NAME=voyouger_db
DYNAMODB_GSI_NAME=GSI1
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
# Optional: DynamoDB endpoint for local development (e.g., http://localhost:8000)
# DYNAMODB_ENDPOINT=http://localhost:8000
